<link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.min.css">
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Basic Datatable</h5>
        <div class="table-responsive">
            <table id="table" data-toggle="table" data-url="/api/feature" class="table table-striped table-bordered clickable" detail-url="/admin/feature/">
            <thead>
                <tr>
                    <th data-field="key"><%= __('COL_key') %></th>
                    <th data-field="description"><%= __('COL_description') %></th>
                    <th data-field="active"><%= __('COL_value') %></th>
                    <th data-field="id" data-formatter="actionFormatter" data-events="actionEvents"><%= __('COL_actions') %></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</div>
</div>

<script src="/bootstrap-table/dist/bootstrap-table.min.js"></script>

<script>

function actionFormatter(value, row, index) {
  return [
    '<a class="view" href="/admin/feature/' + row._id + '" title="">',
    '<i class="fa fa-eye"></i>',
    '</a> ',
    '<a class="delete" href="javascript:void(0)" title="">',
        '<i class="fa fa-trash"></i>',
        '</a> ',        
  ].join('');
}
</script>