<html>
    <head></head>
    <body>
        <p>Hola <%=user.username%>!,</p>
        <p>Hemos recibido tu solicitud para el registro en <%=locals.appName%>. Para completar el registro pulsa en el siguiente link:</p>
        <p><a href="<%=link%>">Completar el registro</a></p>
    </body>
</html>