<html>
    <head></head>
    <body>
        <p>Hola <%=user.username%>!,</p>
        <p>Hemos recibido tu solicitud para el registro en RTM. Para completar el registro pulsa en el siguiente link:</p>
        <p><a href="<%=link%>"><button>COMPLETAR EL REGISTRO</button></a></p>
    </body>
</html>