.body {
    background-color: #343a40;
}

table td,
.table th {
    padding: 0.5rem 0.5rem !important;
}

table.clickable tbody tr {
    cursor: pointer;
}

.fc-h-event .fc-event-title {
    white-space: normal;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-weight: bold !important;
}

.auth-wrapper {
    height: 100vh !important;
}

.auth-box .db img {
    max-width: 330px;
    width: 95%;
}

.auth-box #loginform, .auth-box #recoverform, .auth-box #signinFrm {
    margin : 1rem !important;
}

.auth-box .btn {
    margin-bottom: 0.5rem;
}

.page-wrapper {
    min-height: calc(100vh - 64px) !important;
}

.full-height tbody {
    /* max-height: calc(100vh - 64px) !important; */
    height: 460px !important;
}

.side-navbar-buttons {
    background-color: #ffffff4f;
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.mini-sidebar .side-navbar-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.side-navbar-buttons .nav-item a{
    color: white !important;
}
.side-navbar-buttons .nav-item {
    width: max-content;
}

.scroll-sidebar {
    height: calc(100% - 40px);
    position: relative;
}

.select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
}

div[data-type="action-buttons"] .btn {
    margin-left: 2px;
}

.select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__rendered {
    border-color: #e9ecef;
    height: 36px;
    color: var(--bs-body);
    line-height: 36px;
}

.select2-selection--multiple {
    height: 36px !important;
}

.to-detail {
    height: 36px !important;
}