.body {
    background-color: #343a40;
}

table td, .table th {
     padding: 0.5rem 0.5rem !important;
}

table.clickable tbody tr {
    cursor: pointer;
}

.auth-wrapper {
    height: 100vh !important;
}