<html>
    <head></head>
    <body>
        <p>Hola <%=user.username%>!,</p>
        <p>Hemos recibido tu solicitud para recuperar la contraseña en <%=locals.appName%>. Pulsa el siguiente link para establecer tu nueva contraseña. Si no has sido tu, no es necesario que hagas nada.</p>
        <p><a href="<%=link%>">Resetear contraseña</a></p>
    </body>
</html>