<html>
    <head></head>
    <body>
        <p>Hola <%=user.username%>!,</p>
        <p>Bienvenido a <%=locals.appName%>. Su registro se ha completado correctamente.</p>
        <p><a href="<%=link%>">Accede a <%=locals.appName%></p>
    </body>
</html>