<html>
    <head></head>
    <body>
        <p>Hola <%=user.username%>!,</p>
        <p>Bienvenido a RTM. Su registro se ha completado correctamente.</p>
        <p><a href="<%=link%>"><button>ACCEDE A RTM</button></a></p>
    </body>
</html>