<html>
    <head></head>
    <body>
        <p>Hola <%=user.username%>!,</p>
        <p>Bienvenido a <%=locals.appName%>. Ya puedes acceder pulsando en el siguiente link:</p>
        <p><a href="<%=link%>"><button>COMPLETAR EL REGISTRO</button></a></p>
    </body>
</html>