<html>
    <head></head>
    <body>
        <p>Se ha producido un nuevo registro en RTM.</p>
        <p>Nuevo usuario: <span style="font-weight: bold;"><%=user.username%></span></p>
        <p>email: <span style="font-weight: bold;"><%=user.email%></span></p>
    </body>
</html>